/* root */

/* tags <> */

/* classes . */
.info-box-spliter{
    text-align: center;
    color: yellow;
    background-color: red;

}

.info-row{
    display: flex;
    border-bottom: 2px solid black;
}

.info-row-header{
    flex-basis: 40%;
    padding: 1%;
}

.info-row p li{
    margin: 1;
}

.row {
    display: flex;
  }
  
.info-box-text{
width: 100%;
}
/* ids # */
#info-box{
    border: 2px solid black;
}

#column-info-box {
    flex: 25%;
    padding: 10px;
    height: 98%;
    overflow-y: scroll;
    position: sticky;
    top: 25%;
}

#column-body-stuff {
    flex: 75%;
    padding: 10px;
}
